body{
    margin: 0px;
    padding: 0px;
  }
  
  .card{
    display: inline-block;
    margin-left: 20px;
    margin-right: 7px;
    padding:10px;
  } 
  img{
      height: 200px;
      width: 200px;
  }
    .Heading-content{
      background-color: lightskyblue;
     height: 80px;
     display: flex;
     justify-content: center;
 }
 button{
    height: 40px;
     background-color: green;
     color: white;
     cursor: pointer;
     position: absolute;
      right: 20px;
      top: 15px;
      
 }
    input[type=text] {
      width: 400px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      margin-left: 600px;
      background: lightgrey;
      border-radius: 3px;
      font-size: 20px;
    }
  
   